<header>
  <div class="row">
    <div class="col-md-12">
      <nav role="navigation" class="navbar navbar-default">
        <div class="row bg-white">
          <div class="logo-container">
            <a href="{{ site.base_url }}/">
            <img alt="Logo of the site" src="{{ site.base_url }}/assets/logo.png"
                 class="logo" height="100" width="100">
          </a>
          </div>
        </div>
        <div class="navbar-header">
          <button data-target="#bs-example-navbar-collapse"
                  data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="menu-right" style="text-align:center;">
          <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
            <div class="container">
              <ul class="nav navbar-nav">
                <li><a href="{{ site.base_url }}/">Home</a></li>
                <li><a href="{{ site.base_url }}/despre.html">Despre</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                     role="button" aria-haspopup="true" aria-expanded="false">
                    Educație
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.base_url }}/educatie/dictionar-legalez-roman.html">Dicționar legalez-român</a></li>
                    <li><a href="{{ site.base_url }}/educatie/ierarhia-instantelor.html">Ierarhia Instanțelor</a></li>
                    <li><a href="{{ site.base_url }}/educatie/etapele-unui-proces-civil.html">Etapele unui proces civil</a></li>
                    <li><a href="{{ site.base_url }}/educatie/etapele-unui-proces-penal.html">Etapele unui proces penal</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ site.base_url }}/educatie/anticoruptie/directia-nationala-anticoruptie.html">Direcția Națională Anticorupție</a></li>
                    <li><a href="{{ site.base_url }}/educatie/anticoruptie/luarea-si-darea-de-mita.html">Luarea și darea de mită</a></li>
                    <li><a href="{{ site.base_url }}/educatie/anticoruptie/trafic-de-influenta.html">Trafic de influență</a></li>
                  </ul>
                </li>
                <li><a href="{{ site.base_url }}/instante/">Instanțe</a></li>
                <li><a href="{{ site.base_url }}/parchete/">Parchete</a></li>
                <li><a href="{{ site.base_url }}/analize.html">Analize</a></li>
                <li><a href="{{ site.base_url }}/indicele-de-performanta.html">Indicele de Performanță</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
