<header>
  <nav role="navigation" class="navbar navbar-default">
      <div class="bg-white">
        <div class="logo-container">
          <a href="{{ site.base_url }}/">
          <img alt="Logo of the site" src="{{ site.base_url }}/assets/logo-small.png"
                class="logo" height="100" width="100">
        </a>
        </div>
      </div>
      <div class="navbar-header">
        <button data-target="#bs-example-navbar-collapse"
                data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="menu-right" style="text-align:center;">
        <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.base_url }}/">Home</a></li>
              <li><a href="{{ site.base_url }}/despre.html">Despre</a></li>
              <li class="dropdown">
                <a href="{{ site.base_url }}/educatie/index.html" role="button" aria-expanded="false">Educație</a>
              </li>
              <li><a href="{{ site.base_url }}/instante/">Instanțe</a></li>
              <li><a href="{{ site.base_url }}/parchete/">Parchete</a></li>
              <li><a href="{{ site.base_url }}/analize.html">Analize</a></li>
              <li><a href="{{ site.base_url }}/indicele-de-performanta.html">Indicele de Performanță</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
</header>
