---
title: "Parchete"
breadcrumb: Parchete
---
<div class="row">

  <div class="col-sm-12 col-md-3">
    <h3 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm line-height-md">Parchete speciale</h3>
    <table class="table table-striped filter-types__table">
    {% for i in site.parchete %}
      {% if i.type == 'speciale' %}
          <tr>
            <td>
              <a  class="color-gray-80 h4 h-space-sm row__location" href="{{ site.base_url }}{{ i.url }}">{{ i.subtitle }}</a>
            </td>
          </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

  <div class="col-sm-12 col-md-3">
    <h3 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm line-height-md">Parchete de pe lângă curțile de apel</h3>
    <table class="table table-striped filter-types__table">
    {% for i in site.parchete %}
      {% if i.type == 'curtideapel' %}
        <tr>
          <td>
            <a  class="color-gray-80 h4 h-space-sm row__location" href="{{ site.base_url }}{{ i.url }}">{{ i.subtitle }}</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

  <div class="col-sm-12 col-md-3">
    <h3 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm line-height-md">Parchete de pe lângă tribunale</h3>
    <table class="table table-striped filter-types__table">
    {% for i in site.parchete %}
      {% if i.type == 'tribunale' %}
        <tr>
          <td>
            <a  class="color-gray-80 h4 h-space-sm row__location" href="{{ site.base_url }}{{ i.url }}">{{ i.subtitle }}</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

  <div class="col-sm-12 col-md-3">
    <h3 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm line-height-md">Parchete de pe lângă judecătorii</h3>
    <table class="table table-striped filter-types__table">
    {% for i in site.parchete %}
      {% if i.type == 'judecatorii' %}
        <tr>
          <td>
            <a  class="color-gray-80 h4 h-space-sm row__location" href="{{ site.base_url }}{{ i.url }}">{{ i.subtitle }}</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

</div>
