body, .body-wrapper {
  background-color: white;
  color: #888;
}

h2 {
  color: #666;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

svg .county {
  fill: white;
  stroke-width: 1px;
  stroke: steelblue;
}

svg .county-label {
  text-anchor: middle;
}

.cookie-message {
  top: auto;
  bottom: 0;
}

.cookie-message p {
  margin-right: 50px;
}

.cookie-message a.cookie-more {
  margin: auto;
  position: inherit;
  text-decoration: underline;
}
