<!doctype html>
<meta charset="utf-8">
<title>Onorată Instanță</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,latin-ext" rel="stylesheet">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">
<link rel="stylesheet" href="{{ site.base_url }}/dist/css/main.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div hidden>
  {% include icons.svg %}
</div>
<body>

<div class="body-wrapper">
  {% include navbar.html %}
  <div class="container">

    <div class="content-box">
      {{ content }}
    </div>
  </div>
</div>

{% if site.analytics %}
  {% include analytics.html %}
{% endif %}
