---
layout: page
---

{{ content }}

<h2 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm" id="instanteJudecatorii">Instanțe – Judecătorii</h2>
{% include perftable-instante.html rows=site.data.performance.instante.judecatorii %}

<h2 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm" id="instanteTribunale">Instanțe – Tribunale</h2>
{% include perftable-instante.html rows=site.data.performance.instante.tribunale %}

<h2 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm" id="instanteCurtiApel">Instanțe – Curți de apel</h2>
{% include perftable-instante.html rows=site.data.performance.instante.curtideapel %}

<h2 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm" id="parcheteJudecatorii">Parchete de pe lângă judecătorii</h2>
{% include perftable-parchete.html rows=site.data.performance.parchete.judecatorii %}

<h2 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm" id="parcheteTribunale">Parchete de pe lângă tribunale</h2>
{% include perftable-parchete.html rows=site.data.performance.parchete.tribunale %}

<h2 class="filter-types__header text-center text-uppercase bg-green color-white v-padding-sm" id="parcheteCurtiApel">Parchete de pe lângă curțile de apel</h2>
{% include perftable-parchete.html rows=site.data.performance.parchete.curtideapel %}
