---
layout: page
---

<div id="charts"></div>

<h2>Indicatori</h2>

<div class="row">
  <div class="col-sm-6">
    <h3>2013</h3>

    <p>Performanță: {{ page.indici.2013.performanta }}</p>
    <p>Siguranță: {{ page.indici.2013.siguranta }}</p>
    <p>Operativitate: {{ page.indici.2013.operativitate }}</p>
    <p>Încărcătură: {{ page.indici.2013.incarcatura }}</p>
    <p>Populație deservită: {{ page.indici.2013.populatie }}</p>
    <p>Nr. judecători: {{ page.indici.2013.judecatori }}</p>
    <p>Stoc dosare: {{ page.indici.2013.stoc }}</p>
    <p>Nr. dosare soluționate: {{ page.indici.2013.dosare_solutionate }}</p>
    <p>Încărcătură pe judecător: {{ page.indici.2013.incarcatura_judecator }}</p>
    <p>Indice de atacabilitate: {{ page.indici.2013.indice_atacabilitate }}</p>
    <p>Indice de casare: {{ page.indici.2013.indice_casare }}</p>
    <p>Durată în zile: {{ page.indici.2013.durata }}</p>
  </div>

  <div class="col-sm-6">
    <h3>2014</h3>

    <p>Performanță: {{ page.indici.2014.performanta }}</p>
    <p>Siguranță: {{ page.indici.2014.siguranta }}</p>
    <p>Operativitate: {{ page.indici.2014.operativitate }}</p>
    <p>Încărcătură: {{ page.indici.2014.incarcatura }}</p>
    <p>Populație deservită: {{ page.indici.2014.populatie }}</p>
    <p>Nr. judecători: {{ page.indici.2014.judecatori }}</p>
    <p>Stoc dosare: {{ page.indici.2014.stoc }}</p>
    <p>Nr. dosare soluționate: {{ page.indici.2014.dosare_solutionate }}</p>
    <p>Încărcătură pe judecător: {{ page.indici.2014.incarcatura_judecator }}</p>
    <p>Indice de atacabilitate: {{ page.indici.2014.indice_atacabilitate }}</p>
    <p>Indice de casare: {{ page.indici.2014.indice_casare }}</p>
    <p>Durată în zile: {{ page.indici.2014.durata }}</p>
  </div>
</div>


<h2>Judecători</h2>
<ul class="list-unstyled">
  {% for p in page.people %}
    <li>{{ p }}</li>
  {% endfor %}
</ul>


<h2>Contact</h2>

<p>Web site: {{ page.contact.website }}</p>
<p>Adresă email: {{ page.contact.email }}</p>
<p>Telefon: {{ page.contact.telefon }}</p>
<p>Fax: {{ page.contact.fax }}</p>
<p>Program: {{ page.contact.program }}</p>
<p>Adresă: {{ page.contact.adresa }}</p>

{{ content }}
