---
layout: page
---

<h2>Indicatori</h2>

<p>UNITATEA DE PARCHET (ACTIVITATE PROPRIE): {{ page.indici.2014.name }}</p>
<p>POSTURI DE PROCUROR OCUPATE EFECTIV: {{ page.indici.2014.procurori }}</p>
<p>TOTAL LUCRĂRI DE SOLUȚIONAT, DIN CARE: {{ page.indici.2014.lucrari }}</p>
<p>TOTAL DOSARE DE SOLUȚIONAT: {{ page.indici.2014.dosare }}</p>
<p>TOTAL LUCRĂRI SOLUȚIONATE, DIN CARE: {{ page.indici.2014.lucrari_solutionate }}</p>
<p>TOTAL DOSARE SOLUȚIONATE: {{ page.indici.2014.dosare_solutionate }}</p>
<p>PRIN RECHIZITORIU: {{ page.indici.2014.dosare_solutionate_rechizitoriu }}</p>
<p>PRIN ACORDURI DE RECUNOAȘTERE A VINOVĂȚIEI: {{ page.indici.2014.dosare_solutionate_recunoastere }}</p>
<p>PRIN RENUNȚARE LA URMĂRIREA PENALĂ: {{ page.indici.2014.dosare_solutionate_neurmarire }}</p>
<p>PRIN CLASARE: {{ page.indici.2014.dosare_solutionate_clasare }}</p>
<p>DOSARE SOLUȚIONATE PÂNĂ ÎN 6 LUNI DE LA SESIZARE: {{ page.indici.2014.dosare_solutionate_6luni }}</p>
<p>DOSARE SOLUȚIONATE ÎNTRE 6 LUNI ȘI 1 AN DE LA SESIZARE: {{ page.indici.2014.dosare_solutionate_1an }}</p>
<p>DOSARE SOLUȚIONATE PESTE 1 AN DE LA SESIZARE: {{ page.indici.2014.dosare_solutionate_peste }}</p>
<p>DOSARE SOLUȚIONATE DUPĂ ÎMPLINIREA TERMENULUI DE PRESCRIPȚIE: {{ page.indici.2014.dosare_solutionate_prescriptie }}</p>
<p>DOSARE RESTITUITE DE INSTANȚE SAU TRIMISE PROCURORULUI: {{ page.indici.2014.dosare_restituite }}</p>
<p>DOSARE INFIRMATE SAU CU URMĂRIREA PENALĂ REDESCHISĂ: {{ page.indici.2014.dosare_infirmate }}</p>
<p>NR. INCULPAȚI SAU SUSPECȚI DIN CAUZELE SOLUȚIONATE: {{ page.indici.2014.inculpati }}</p>
<p>NR. INCULPAȚI TRIMIȘI ÎN JUDECATĂ PRIN RECHIZITORIU: {{ page.indici.2014.inculpati_judecata_rechizitoriu }}</p>
<p>NR. INCULPAȚI TRIMIȘI ÎN JUDECATĂ PRIN ACORDURI DE RECUNOAȘTERE A VINOVĂȚIEI: {{ page.indici.2014.inculpati_judecata_recunoastere }}</p>
<p>NR. INCULPAȚI TRIMIȘI ÎN JUDECATĂ ARESTAȚI PREVENTIV: {{ page.indici.2014.inculpati_judecata_arestati }}</p>
<p>PREJUDICII ÎN LEI PRODUSE DE INCULPAȚII TRIMIȘI ÎN JUDECATĂ: {{ page.indici.2014.inculpati_judecata_prejudicii_lei }}</p>
<p>PREJUDICII ÎN EURO PRODUSE DE INCULPAȚII TRIMIȘI ÎN JUDECATĂ: {{ page.indici.2014.inculpati_judecata_prejudicii_euro }}</p>
<p>VALOAREA MĂSURILOR ASIGURĂTORII ÎN LEI: {{ page.indici.2014.masuri_asiguratorii_lei }}</p>
<p>NR. INCULPAȚI ACHITAȚI DEFINITIV INDIFERENT DE PERIOADA TRIMITERII ÎN JUDECATĂ: {{ page.indici.2014.inculpati_achitati }}</p>
<p>NR. INCULPAȚI ACHITAȚI DEFINITIV ARESTAȚI PREVENTIV: {{ page.indici.2014.inculpati_achitati_arestati }}</p>
<p>TOTAL PLÂNGERI ÎMPOTRIVA ACTELOR ȘI MĂSURILOR PROCURORULUI DE SOLUȚIONAT, DIN CARE: {{ page.indici.2014.plangeri }}</p>
<p>TOTAL PLÂNGERI ÎMPOTRIVA ACTELOR ȘI MĂSURILOR PROCURORULUI SOLUȚIONATE, DIN CARE: {{ page.indici.2014.plangeri_solutionate }}</p>
<p>TOTAL PLÂNGERI ÎMPOTRIVA ACTELOR ȘI MĂSURILOR PROCURORULUI ADMISE: {{ page.indici.2014.plangeri_solutionate_admise }}</p>
<p>TOTAL CĂI DE ATAC DECLARATE DE PROCUROR ÎN CAUZELE PENALE, DIN CARE: {{ page.indici.2014.caideatac_penale }}</p>
<p>TOTAL CĂI DE ATAC ADMISE ÎN CAUZELE PENALE: {{ page.indici.2014.caideatac_penale_admise }}</p>
